@import "../assets/scss/utils";

.admin {
   background-color: $bg-color3;
   height: 100vh;
   color: white;

   .page-admin {
      display: flex;
      width: 100vw;
      // border-top: 2px solid white;

      .welcome {
         font-size: 3rem;
         padding-top: 2rem;
         width: 90vw;
         text-align: center;
      }
   }
}
