@import "../../assets/scss/utils";

.Chantier {
   font-size: 1.5rem;
   padding: 3rem 1rem;
   display: flex;
   align-items: center;
   gap: 4rem;

   @include for-phone {
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
   }

   img {
      @include for-phone {
         width: 80vw;
      }
      @include for-tablet {
         width: 40vw;
         height: auto;
      }
      height: 25rem;
   }

   .infos-chantiers {
      width: 80%;
      height: 100%;

      h3 {
         font-size: 2.5rem;
         text-align: center;
         padding-top: 3rem;
         padding-bottom: 4rem;
      }
   }
}
